
<%= link_to 'New Game', new_game_path, :class => 'float-r', :style => 'margin-right: 10px;' %>
<h1 class="center">
  Game #<%=@game.id%> to <span id="game-start-at"><%=@game.start_at %></span> between <%= @game.game_teams.map{|e| e.team.name}.join(' and ') %> 
</h1>


<div id="game-holder">
  <% @game.game_teams.each do |game_team| %>
    <% points_to_go = @game.start_at %>
    <div class="game-team-holder" style="width: <%=99/@game.teams%>%;" id="game-team-<%=game_team.id%>">
      <h2> <%= game_team.team.name %></h2>
      <div class="game-team-shots">
        <% game_team.shots.each do |shot| %>
          <p>
            <%= shot.amount %> <span class="grey">(<%=points_to_go%> - <%=shot.amount %> = <%= points_to_go - shot.amount %>)</span>
            <% if (points_to_go-shot.amount).abs == (points_to_go-shot.amount) %>
              <% points_to_go -= shot.amount %>
            <% else %>
              <% if (points_to_go-shot.amount).abs > @game.start_at %>
                <% diff = (points_to_go - shot.amount).abs - @game.start_at %>
                <% points_to_go = @game.start_at - diff %>
              <% else %>
                <% diff = @game.start_at - (shot.amount-points_to_go).abs %>
                <% points_to_go = @game.start_at - (@game.start_at - diff) %>
              <% end %>
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="new-shot-form-holder">
        <%= form_for Shot.new, :url => game_team_shots_path(game_team), :remote => true do |f| %>
          <%= f.text_field :amount, :class => 'shot-amount' %> <span class="togo"><%= points_to_go %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
