<!DOCTYPE html>
<html>
<head>
  <title>Dartdown</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main">
    <% [:notice, :error, :success].each do |msg| %>
      <%= flash[msg] %>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
